body{
    margin:0;
    padding: 0;
    width: 100%;
    background: linear-gradient(-45deg, #acf5df, #98bfec, #f0ba96, #f08deb);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  header{
    background-color: rgb(24, 23, 25);
    height: 100px;
    width: 100%;
  }

  nav{
    display: flex;
    justify-content: space-between;
  }

  nav a{
    width: auto;
    height: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 20px;
    padding-top: 20px;
  }

  nav a:hover{
    color: rgb(100, 213, 239);
    transition: 0.3s;
  }

  .navImg{
    width: 96px;
    min-width: 96px;
    height: auto;
    object-fit: cover;
  }

  nav img{
    width: 100%;
    height: 100%;
  }
  
  table.listing {
    background-color: rgba(245, 245, 245, 0.877);
      border-spacing: 0px;
      width: 80%;
      border: 1px solid grey;
  }
  
  table.listing th, table.listing td {
      border: 1px solid grey;
      height: 30px;
      padding: 5px;
  }
  
  input, select {
    padding: 6px;
    display:block;
    margin: 5px;
  }


  /*---------------------------------------------------------------------ArticlesForum--------------------------------------------------*/
  .articleForum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  article{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
    gap: 15px;
    background-color: #fdf9f9a9;
    border-radius: 10px;
    border-right:3px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(204, 204, 204);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
    padding: 10px;
    overflow: hidden;
  }

  .auteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .medaillon{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    object-fit: cover;
    overflow: hidden;
  }

  .medaillon img{
    width: 100%;
}

  /*---------------------------------------------------------------------ArticlesForum--------------------------------------------------*/

  footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
  }
